@page "/Combos"
<h3>Combos</h3>
<MudText>5P/5K/2K > 6K > 236K (soft knockdown), IAD j.H (meaty)</MudText>
<MudText>2K > 2D > 236K (soft knockdown), IAD j.H (meaty)</MudText>
<MudText>5K > 2D > 236K (soft knockdown), super jump IAD j.H (meaty)</MudText>
<video controls>
    <source type="video/mp4" src="https://cdn.discordapp.com/attachments/935315007644778556/1271325726783574026/light_button_safejumps.mp4?ex=66c76899&is=66c61719&hm=010b373579caf099c16cc631d261401b69cb09ec3daf42d421a718543b4eac99&"/>
</video>
@code {
    
}