@page "/Combos"
@using Client.Shared

<PageTitle>@Constants.TitlePrefix Combos</PageTitle>

<MudExpansionPanels MultiExpansion>
    @foreach (var list in AllCombos)
    {
        <MudExpansionPanel Text="@list.SectionTitle">
            <MudGrid>
                @foreach (var combo in list.Combos)
                {
                    <MudItem xs="12" md="6" lg="4" xl="3">
                        <MudCard Style="height: 100%; padding: 24px;" Outlined>
                            <MudCardContent>
                                <MudStack>
                                    <BaikenVideo Src="@combo.VideoName"></BaikenVideo>
                                    <MudDivider/>
                                    <MudText HtmlTag="span" Align="Align.Center">
                                        @for (int index = 0; index < combo.Moves.Count; index++)
                                        {
                                            Move? move = combo.Moves[index];
                                            <BaikenMove Move="move"></BaikenMove>
                                            if (index < combo.Moves.Count - 1)
                                            {
                                                <MudText HtmlTag="span"> &gt; </MudText>
                                            }
                                        }
                                    </MudText>
                                    @for (int index = 0; index < combo.AdditionalNotes.Count; index++)
                                    {
                                        if (index == 0)
                                        {
                                            <MudDivider/>
                                        }
                                        RenderFragment? note = combo.AdditionalNotes[index];
                                        <MudText Align="Align.Center">
                                            @note
                                        </MudText>
                                    }
                                </MudStack>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        </MudExpansionPanel>
    }
</MudExpansionPanels>

@code {

    private class Combo
    {
        public Combo(List<Move> moves, string videoName = "", List<RenderFragment> additionalNotes = null)
        {
            Moves     = moves;
            VideoName = videoName;

            if (additionalNotes is not null)
            {
                AdditionalNotes = additionalNotes;
            }
        }

        public List<RenderFragment> AdditionalNotes { get; } = [];
        public List<Move> Moves { get; init; }
        public string VideoName { get; init; }
    }

    private record ComboList(string SectionTitle, List<Combo> Combos);

    private List<ComboList> AllCombos { get; } =
        [
            new ComboList("Your First Combos",
            [
                new Combo([Moves.fS.AddPrefix("CH"), Moves._2H, Moves.HKab, Moves.HkabH],
                          "combos/round start fS 2H hkabh"),
                new Combo([Moves._2H, Moves.HKab, Moves.HkabH],
                          "combos/round start 2H hkabh"),
                new Combo([Moves.jS.AddPrefix("rising"), Moves.AirDash, Moves.jS, Moves.Youzansen],
                          "combos/round start jS dash jS yzn"),
                new Combo([Moves.jS.AddPrefix("rising").AddPrefix("CH"), Moves.AirDash, Moves.Delay, Moves.jS, Moves.Youzansen],
                          "combos/round start CH jS dash jS yzn"),
                new Combo([Moves._5P, Moves._6K, Moves.Tatami],
                          "combos/5P 6K tatami"),
            ]),
            new ComboList("The Next Step",
            [
                new Combo([Moves.cS, Moves._2H, Moves.HKab, Moves.HkabH],
                          "combos/cS 2H hkabh"),
                new Combo([Moves.cS, Moves._2H, Moves.Tatami, Moves._2S, Moves.HKab, Moves.HkabH],
                          "combos/bnb"),
                new Combo([Moves.IAD, Moves.jS, Moves.Youzansen],
                          "combos/IAD jS yzn"),
                new Combo([Moves.IAD, Moves.jH, Moves.cS, Moves._2H, Moves.Tatami],
                          "combos/IAD jH cS 2H tatami"),
            ]),
            new ComboList("Now That's What I Call Hit Confirms 56",
            [
                new Combo([Moves._5K.AddPrefix("(aerial opponent)"), Moves._6H, Moves.HKab, Moves.HkabH],
                          "combos/5K 6H hkabh",
                          [@<span>
                              <BaikenMove Move="Moves._5K"/> can often be substituted for <BaikenMove Move="Moves.cS"/>
                              for additional damage if in range.
                           </span>]),
                new Combo([Moves._2H.AddPrefix("CH"), Moves.HKab, Moves._5K, Moves._6H, Moves.HKab, Moves.HkabH],
                          "combos/CH 2H hkab 5K 6H hkabh",
                          [@<span>
                              <BaikenMove Move="Moves._5K"/> can often be substituted for <BaikenMove Move="Moves.cS"/>
                              for additional damage if in range.
                           </span>]),
                new Combo([Moves._6K.AddPrefix("CH"), Moves.Tatami, Moves._5K, Moves._6H, Moves.HKab, Moves.HkabH],
                          "combos/CH 6K tatami 5K 6H hkabh",
                          [@<span>
                              <BaikenMove Move="Moves._5K"/> can often be substituted for <BaikenMove Move="Moves.cS"/>
                              for additional damage if in range.
                           </span>]),
                new Combo([Moves.Tatami.AddPrefix("CH"), Moves._5K, Moves._6H, Moves.HKab, Moves.HkabH],
                          "combos/CH tatami 5K 6H hkabh",
                          [@<span>
                              <BaikenMove Move="Moves._5K"/> can often be substituted for <BaikenMove Move="Moves.cS"/>
                              for additional damage if in range.
                           </span>]),
            ]),
        ];

}