<h3>MoveFragments</h3>

@code {
    private static RenderFragment? _2DNotes { get; } = null;
    private static RenderFragment? _2HNotes { get; } = null;
    private static RenderFragment? _2KNotes { get; } = null;
    private static RenderFragment? _2PNotes { get; } = null;
    private static RenderFragment? _2SNotes { get; } = null;
    private static RenderFragment? _5DNotes { get; } = null;
    private static RenderFragment? _5HNotes { get; } = null;
    private static RenderFragment? _5KNotes { get; } = null;
    private static RenderFragment? _5PNotes { get; } = null;
    private static RenderFragment? _6HNotes { get; } = null;
    private static RenderFragment? _6KNotes { get; } = null;
    private static RenderFragment? _6PNotes { get; } = null;
    private static RenderFragment? WildAssaultNotes { get; } = null;
    private static RenderFragment? TatamiNotes { get; } = null;
    private static RenderFragment? AerialTatamiNotes { get; } = null;
    private static RenderFragment? HiiragiNotes { get; } = null;
    private static RenderFragment? HKabNotes { get; } = null;

    private static RenderFragment? HkabHNotes { get; } = @<MudText>Note: never hit the <BaikenMove Move="Moves.HkabH"/> input more than once. It will cause you to drop combos.</MudText>;
    private static RenderFragment? SKabNotes { get; } = null;
    private static RenderFragment? YouzansenNotes { get; } = null;
    private static RenderFragment? cSNotes { get; } = null;
    private static RenderFragment? fSNotes { get; } = null;
    private static RenderFragment? jPNotes { get; } = null;
    private static RenderFragment? jKNotes { get; } = null;
    private static RenderFragment? jSNotes { get; } = null;
    private static RenderFragment? jHNotes { get; } = null;
    private static RenderFragment? jDNotes { get; } = null;
    private static RenderFragment? ThrowNotes { get; } = null;
    private static RenderFragment? AirThrowNotes { get; } = null;
    private static RenderFragment? DashNotes { get; } = null;
    private static RenderFragment? AirDashNotes { get; } = null;
    private static RenderFragment? IADNotes { get; } = null;
    private static RenderFragment? DelayNotes { get; } = null;
}