<h3>MoveFragments</h3>

@code {
    private static RenderFragment _2DNotes { get; }
    private static RenderFragment _2HNotes { get; }
    private static RenderFragment _2KNotes { get; }
    private static RenderFragment _2PNotes { get; }
    private static RenderFragment _2SNotes { get; }
    private static RenderFragment _5DNotes { get; }
    private static RenderFragment _5HNotes { get; }
    private static RenderFragment _5KNotes { get; }
    private static RenderFragment _5PNotes { get; }
    private static RenderFragment _6HNotes { get; }
    private static RenderFragment _6KNotes { get; }
    private static RenderFragment _6PNotes { get; }
    private static RenderFragment WildAssaultNotes { get; }
    private static RenderFragment TatamiNotes { get; }
    private static RenderFragment AerialTatamiNotes { get; }
    private static RenderFragment HiiragiNotes { get; }
    private static RenderFragment HKabNotes { get; }

    private static RenderFragment HkabHNotes { get; } = @<MudText>Note: never hit the <BaikenMove Move="Moves.HkabH"/> input more than once. It will cause you to drop combos.</MudText>;
    private static RenderFragment SKabNotes { get; }
    private static RenderFragment YouzansenNotes { get; }
    private static RenderFragment cSNotes { get; }
    private static RenderFragment fSNotes { get; }
    private static RenderFragment jPNotes { get; }
    private static RenderFragment jKNotes { get; }
    private static RenderFragment jSNotes { get; }
    private static RenderFragment jHNotes { get; }
    private static RenderFragment jDNotes { get; }
    private static RenderFragment ThrowNotes { get; }
    private static RenderFragment AirThrowNotes { get; }
    private static RenderFragment DashNotes { get; }
    private static RenderFragment AirDashNotes { get; }
    private static RenderFragment IADNotes { get; }
    private static RenderFragment DelayNotes { get; }
}